@font-face {
    font-family: 'Mi-Thin';
    src: url('@/assets/font/mi/MiSans-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Mi-Light';
    src: url('@/assets/font/mi/MiSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Mi-Normal';
    src: url('@/assets/font/mi/MiSans-Normal.ttf') format('truetype');
}

@font-face {
    font-family: 'Mi-Regular';
    src: url('@/assets/font/mi/MiSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Mi-Bold';
    src: url('@/assets/font/mi/MiSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'MovieFont';
    src: url('@/assets/font/movie.ttf') format('truetype');
    font-size: 20px;
}

@font-face {
    font-family: 'OPPO-H';
    src: url('@/assets/font/OPPOSans-H.ttf') format('truetype');
    font-size: 20px;
}

@font-face {
    font-family: 'OPPO-B';
    src: url('@/assets/font/OPPOSans-B.ttf') format('truetype');
    font-size: 20px;
}

@font-face {
    font-family: 'OPPO-L';
    src: url('@/assets/font/OPPOSans-L.ttf') format('truetype');
    font-size: 20px;
}

@font-face {
    font-family: 'OPPO-M';
    src: url('@/assets/font/OPPOSans-M.ttf') format('truetype');
    font-size: 20px;
}

.movie_font {
    font-family: "MovieFont";
}

.page_hover_title {
    width: fit-content;
    font-size: 1.7rem;
    font-weight: bolder;
    cursor: pointer;
    position: relative;
    height: 40px;
    line-height: 40px;
    color: var(--text-color-1);
    z-index: 1;
    &::before {
        content: "#";
        visibility: hidden;
        color: var(--primary-color);
        position: absolute;
        top: 0;
        left: -20px;
    }

    &:hover {
        color: var(--primary-color);
        &::before {
            visibility: visible;
        }
    }
}

.hover_color_text {
    &:hover {
        color: var(--primary-color);
        cursor: pointer;
    }
}