@font-face {
    font-family: 'MovieFont';
    src: url('@/assets/font/movie.ttf') format('truetype');
    font-size: 20px;
}

@font-face {
    font-family: 'OPPO-H';
    src: url('@/assets/font/OPPOSans-H.ttf') format('truetype');
    font-size: 20px;
}

@font-face {
    font-family: 'OPPO-B';
    src: url('@/assets/font/OPPOSans-B.ttf') format('truetype');
    font-size: 20px;
}

@font-face {
    font-family: 'OPPO-L';
    src: url('@/assets/font/OPPOSans-L.ttf') format('truetype');
    font-size: 20px;
}

@font-face {
    font-family: 'OPPO-M';
    src: url('@/assets/font/OPPOSans-M.ttf') format('truetype');
    font-size: 20px;
}

.movie_font {
    font-family: "MovieFont";
}