@import './flex.scss';
@import './font.css';

* {
    margin: 0;
    padding: 0;
}

:root {
    
}

[data-theme="dark"] {
    
}

body,
#app {
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    font-family: "OPPO-M";
    font-size: 14px;
}

body::-webkit-scrollbar {
    display: none;
}

.app_container {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
}